* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  width: 100%;
}

button {
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  background-color: #007BFF;
  color: white;
  border: none;
}

button:hover {
  background-color: #0056b3;
}

.google-btn button {
  background-color: #db4437;
}

.google-btn button:hover {
  background-color: #c23321;
}

.msg {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

a {
  color: #007BFF;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .container {
      padding: 15px;
  }

  button {
      font-size: 14px;
  }

  input {
      font-size: 14px;
  }
}
